@inherits LayoutComponentBase

<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<div style="height: 100vh; display: flex; justify-content: center; align-items: center; background-color: #f4f4f4;">
    @Body
</div>