@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using FishClubAlginet.Blazor.Auth
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Nav
@inject DialogService DialogService



<RadzenLayout style="height: 100vh">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0" JustifyContent="JustifyContent.SpaceBetween" Style="width:100%;">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />

            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem" Style="margin-right: 1rem;">
                <RadzenLabel Text="@userName" Style="font-weight: bold;" />

                <RadzenButton Icon="logout"
                              ButtonStyle="ButtonStyle.Secondary"
                              Size="ButtonSize.Small"
                              Click="Logout"
                              MouseEnter="@(args => TooltipService.Open(args, "Logout"))" />
            </RadzenStack>
        </RadzenStack>
    </RadzenHeader>

    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Path="/" Icon="home" />

            <AuthorizeView>
                <Authorized Context="authUser">
                    <RadzenPanelMenuItem Text="Profile" Icon="person" Path="profile" />
                    <RadzenPanelMenuItem Text="Change Password" Icon="lock" Path="change-password" />

                    <AuthorizeView Roles="Admin" Context="adminUser">
                        <Authorized>
                            <RadzenPanelMenuItem Text="Users" Icon="manage_accounts" Path="admin/users" />
                            <RadzenPanelMenuItem Text="Fishermen" Icon="groups" Path="fishermen" />
                        </Authorized>
                    </AuthorizeView>
                </Authorized>
            </AuthorizeView>
        </RadzenPanelMenu>

        <div class="p-3" style="position: absolute; bottom: 0; width: 100%;">
            <RadzenText TextStyle="TextStyle.Caption" TextAlign="TextAlign.Center" TagName="TagName.P">
                v1.0.0 - Base Architecture
            </RadzenText>
        </div>
    </RadzenSidebar>

    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>

    <RadzenFooter>
        <div class="text-center">
            &copy; 2026 - Base Architecture
        </div>
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebarExpanded = true;
    string pathToNavigate = string.Format("/{0}", "login");
    [Inject] TooltipService TooltipService { get; set; } = default!;
    string userName = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            userName = user.Identity.Name
                       ?? user.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value
                       ?? user.FindFirst("name")?.Value
                       ?? user.FindFirst("sub")?.Value
                       ?? string.Empty;
        }
    }

    private async Task Logout()
    {
        var confirm = await DialogService.Confirm(
            "Are you sure you want to log out?",
            "Logout",
            new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "Cancel" });

        if (confirm == true)
        {
            var customAuthState = (JwtAuthenticationStateProvider)AuthStateProvider;
            await customAuthState.LogoutAsync();

            Nav.NavigateTo(pathToNavigate);
        }
    }
}
