@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using FishClubAlginet.Blazor.Auth
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Nav
@inject DialogService DialogService



<RadzenLayout style="height: 100vh">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />

            <RadzenLabel Text="Base" Style="margin-left: 1rem; margin-right:1rem; font-weight: bold;" />

            <RadzenButton Icon="logout"
                          ButtonStyle="ButtonStyle.Secondary"                        
                          Size="ButtonSize.Small"
                          Click="CerrarSesion"
                          MouseEnter="@(args => TooltipService.Open(args, "Cerrar Sesión"))" />
        </RadzenStack>
    </RadzenHeader>

    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Inicio" Path="/" Icon="home" />

            <AuthorizeView>
                <Authorized>
                    <RadzenPanelMenuItem Text="sample" Icon="home" Path="sample" />
                    <RadzenPanelMenuItem Text="Pescadores" Icon="groups" Path="fishermen" />
                    <RadzenPanelMenuItem Text="Nuevo Pescador" Icon="person_add" Path="fishermen/add" />
                   
                </Authorized>
            </AuthorizeView>
        </RadzenPanelMenu>

        <div class="p-3" style="position: absolute; bottom: 0; width: 100%;">
            <RadzenText TextStyle="TextStyle.Caption" TextAlign="TextAlign.Center" TagName="TagName.P">
                v1.0.0 - Senior Architecture
            </RadzenText>
        </div>
    </RadzenSidebar>

    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>

    <RadzenFooter>
        <div class="text-center">
            &copy; 2026 - Base Architecture
        </div>
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebarExpanded = true;
    string pathToNavigate = string.Format("/{0}", "login");
    string[] confirmDialog= { "¿Seguro que quieres salir?", "Cerrar Sesión","Sí","Cancelar" };
    [Inject] TooltipService TooltipService { get; set; } = default!;

    private async Task CerrarSesion()
    {
        var confirm = await DialogService.Confirm(confirmDialog[0], confirmDialog[1],
            new ConfirmOptions() { OkButtonText = confirmDialog[2], CancelButtonText = confirmDialog[3] });

        if (confirm == true)
        {
            var customAuthState = (JwtAuthenticationStateProvider)AuthStateProvider;
            await customAuthState.LogoutAsync();

            Nav.NavigateTo(pathToNavigate);
        }
    }
}